:root,
:root.light {
  --mainBackground: #fff;
  --secBackground: #f9f9f9;
  --textColor: #212427;
  --textLightColor: #767676;
  --projectText: rgba(0, 0, 0, 0.2);
  --footer: #2c2c2c;
}

.dark {
  --mainBackground: #161b22;
  --secBackground: #1d232c;
  --textColor: #ffffff;
  --textLightColor: rgba(255, 255, 255, 0.75);
  --projectText: rgba(255, 255, 255, 0.2);
  --footer: #161b22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainBackground: #161b22;
    --secBackground: #1d232c;
    --textColor: #ffffff;
    --textLightColor: rgba(255, 255, 255, 0.75);
    --projectText: rgba(255, 255, 255, 0.2);
    --footer: #161b22;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(0.75rem, 4vw, 1rem) clamp(2rem, 4vw, 4rem);
  position: sticky;
  top: 0;
  background-color: var(--mainBackground);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 999;
}
.navigation h3,
.navigation a {
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.navigation .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navigation .nav-right .menu {
  display: none;
}
.navigation .nav-right li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.navigation .nav-right li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #008f7a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navigation .nav-right li:hover::after, .navigation .nav-right li:active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navigation .nav-right li a {
  color: var(--textColor);
}
.navigation .nav-right .mobile-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background-color: var(--mainBackground);
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.navigation .mobile-menu-btn {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 0rem;
  height: 57px;
  background: none;
  border: none;
  z-index: 998;
}

@media screen and (min-width: 720px) {
  .navigation .nav-right .menu {
    display: flex;
    gap: 2rem;
  }
  .navigation .nav-right .mobile-menu {
    display: none;
  }
  .navigation .mobile-menu-btn {
    display: none;
  }
  .navigation h3 {
    position: static;
  }
}
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 2rem;
}
.hero .hero-text h1 {
  font-size: clamp(1.75rem, 3vw, 2.5rem);
}
.hero .hero-text .balancer {
  margin: 0;
  color: var(--textLightColor);
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}
.hero .hero-text svg {
  width: clamp(15px, 4vw, 30px);
  height: auto;
}
.hero .hero-text .github-container {
  margin: 1.5rem 0;
}
.hero .hero-text .github-container a {
  color: inherit;
}
.hero .hero-text .languages-container {
  border-top: 1px solid var(--textColor);
  padding-top: 1.5rem;
}
.hero .hero-text .languages-container .language-text {
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.hero .hero-text .languages-container .icons {
  display: flex;
  justify-content: center;
  align-items: none;
  gap: clamp(1rem, 4vw, 1.4rem);
  margin-top: 1rem;
}
.hero .hero-text .languages-container .icons .icon-container:hover, .hero .hero-text .languages-container .icons .icon-container:active {
  transform: scale(1.3);
}
.hero .hero-avatar .avatar {
  height: auto;
  max-width: 20rem;
  width: 100%;
  border: 3px solid #008f7a;
  border-radius: 3rem 1rem;
  animation: shadowAnimation 2s infinite;
}
.hero .hero-avatar .avatar-show {
  opacity: 1;
  filter: blur(0);
  transition: 1s;
}
.hero .hero-avatar .avatar-hide {
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
}
@keyframes shadowAnimation {
  0% {
    box-shadow: rgba(0, 143, 122, 0.2) 0px 7px 29px 0px;
  }
  50% {
    box-shadow: rgba(0, 143, 122, 0.7) 0px 7px 29px 0px;
  }
  100% {
    box-shadow: rgba(0, 143, 122, 0.2) 0px 7px 29px 0px;
  }
}

@media screen and (min-width: 900px) {
  .hero {
    min-height: 90vh;
    flex-direction: row;
    gap: 2rem;
    text-align: start;
    max-width: 1000px;
  }
  .hero .hero-text {
    max-width: 650px;
    order: 1;
  }
  .hero .hero-text .languages-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero .hero-text .languages-container .language-text {
    margin-right: 2rem;
  }
  .hero .hero-text .languages-container .icons {
    margin-top: 0rem;
  }
  .hero .hero-avatar {
    order: 2;
  }
  .hero .hero-avatar .avatar {
    max-width: 350px;
  }
}
.about {
  background-color: var(--mainBackground);
  text-align: start;
  padding: 6rem 2rem;
}
.about .about-container {
  max-width: 400px;
  margin: 0 auto;
}
.about .about-container img {
  max-width: 100%;
  height: auto;
  border-radius: 1.2em;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .about-container svg {
  max-width: 4.5rem;
}
.about .about-container .timeline-container {
  display: none;
}
.about .about-container .about-item-container {
  margin-top: 2rem;
}
.about .about-container .about-item-container .about-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #24292f;
  margin: 1rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem 0 1rem 2.5rem;
  border-radius: 0.5em;
}
.about .about-container .about-description {
  overflow-x: hidden;
}
.about .about-container .about-description h2 {
  margin: 0 0.5rem 1rem 0.5rem;
}
.about .about-container .about-description p {
  margin: 0 0.5rem;
  color: var(--textLightColor);
  font-size: clamp(1rem, 2vw, 1.1rem);
}

@media screen and (min-width: 780px) {
  .about {
    padding: 12rem 2rem;
  }
  .about .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    gap: 2rem;
    max-width: none;
    max-width: 1000px;
    /* ANIMATIONS */
  }
  .about .about-container .about-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .about .about-container .about-item-container .about-item {
    flex-direction: column;
    width: 8rem;
    padding: 2rem;
  }
  .about .about-container .timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about .about-container .timeline-container .timeline-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about .about-container .timeline-container .timeline-item .timeline-line-short {
    background: rgba(255, 255, 255, 0.25);
    width: 0.1525rem;
    height: 1.5rem;
  }
  .about .about-container .timeline-container .timeline-item .timeline-line-long {
    background: rgba(255, 255, 255, 0.25);
    width: 0.1525rem;
    height: 3rem;
  }
  .about .about-container .timeline-container .timeline-item .timeline-line-long span {
    position: relative;
    left: 1rem;
    top: 0.65rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
  }
  .about .about-container .timeline-container .timeline-item svg {
    margin: 0.5rem 0;
    width: 100%;
    max-width: 1.5rem;
  }
  .about .about-container .about-hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 1s;
  }
  .about .about-container .about-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: 1s;
  }
  .about .about-container .about-item-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: 1s;
  }
  .about .about-container .about-item-hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: 1s;
  }
  .about .about-container .timeline-item:nth-child(1) {
    transition-delay: 0.2s;
  }
  .about .about-container .timeline-item:nth-child(2) {
    transition-delay: 0.3s;
  }
  .about .about-container .timeline-item:nth-child(3) {
    transition-delay: 0.4s;
  }
  .about .about-container .timeline-item:nth-child(4) {
    transition-delay: 0.5s;
  }
  .about .about-container .timeline-item:nth-child(5) {
    transition-delay: 0.6s;
  }
  .about .about-container .timeline-item:nth-child(6) {
    transition-delay: 0.7s;
  }
  .about .about-container .timeline-item:nth-child(7) {
    transition-delay: 0.8s;
  }
  .about .about-container .timeline-item:nth-child(8) {
    transition-delay: 0.9s;
  }
  .about .about-container .timeline-item:nth-child(9) {
    transition-delay: 1s;
  }
  .about .about-container img {
    max-width: 400px;
  }
}
.content-table {
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-table .section-title {
  text-align: left;
  margin-bottom: 2rem;
}
.content-table .container .table {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: clamp(0.5rem, 3vw, 2rem) clamp(0.5rem, 3vw, 2rem);
  max-width: 500px;
}
.content-table .container .table h2 {
  font-size: 1.1rem;
}
.content-table .container .table video,
.content-table .container .table img {
  border-radius: 0.3em;
  width: 100%;
  height: auto;
  flex: 4;
}

@media screen and (min-width: 880px) {
  .content-table {
    padding: 12rem 2rem;
  }
  .content-table .container {
    max-height: none;
  }
  .content-table .container .table {
    display: flex;
    max-width: 1000px;
    gap: 2rem;
  }
  .content-table .container .table video,
  .content-table .container .table img {
    width: 10%;
  }
  .content-table .container .table .text {
    flex: 3;
  }
}
.projects .project {
  background-color: var(--mainBackground);
}
.projects .project-text h4 {
  text-align: center;
}
.projects .project-text ul {
  padding-left: clamp(0.75rem, 2vw, 2rem);
}
.projects .project-text .btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  margin: 2rem auto 0 auto;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Poppins";
  font-weight: 400;
  width: 170px;
  color: var(--textColor);
  background-color: #008f7a;
  transition: 150ms;
  border: 1px solid #008f7a;
}
.projects .project-text .btn-more:hover, .projects .project-text .btn-more:active {
  color: var(--textColor);
  cursor: pointer;
  background-color: transparent;
}
.projects .project-text li::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.projects .project-text p {
  margin-left: 1.8rem;
  margin-top: 0;
}
.projects .project-text li,
.projects .project-text p {
  color: var(--projectText);
}
.projects .project-text .selected li,
.projects .project-text .selected p {
  color: var(--textColor);
  transition: 350ms;
}
.projects .project-text .selected li::before {
  transition: 350ms;
  background-color: #008f7a;
}

.experience {
  background-color: var(--mainBackground);
  padding: 6rem 2rem;
  text-align: center;
}
.experience .experience-container {
  max-width: 400px;
  margin: 0 auto;
}
.experience .experience-container .experience-content {
  /* ANIMATION */
}
.experience .experience-container .experience-content .main-img {
  width: 300px;
  width: 100%;
  background-image: none;
}
.experience .experience-container .experience-content .item {
  margin-top: 1rem;
}
.experience .experience-container .experience-content .item p {
  margin: 0.25rem;
}
.experience .experience-container .experience-content .item .video-link-yt {
  color: #008f7a;
  margin-left: 0.3rem;
  transition: 150ms;
}
.experience .experience-container .experience-content .item .video-link-yt:hover {
  color: #005c4e;
}
.experience .experience-container .experience-content .item .icon {
  width: 45px;
  height: auto;
}
.experience .experience-container .experience-content .item-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: transform 1s, opacity 1s, filter 1s;
}
.experience .experience-container .experience-content .item-hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: transform 1s, opacity 1s, filter 1s;
}
.experience .experience-container .experience-content .item-1 {
  transition-delay: 200ms;
}
.experience .experience-container .experience-content .item-2 {
  transition-delay: 400ms;
}
.experience .experience-container .experience-content .item-3 {
  transition-delay: 600ms;
}

@media screen and (min-width: 780px) {
  .experience {
    padding: 12rem 2rem;
  }
  .experience .experience-container {
    max-width: 1000px;
  }
  .experience .experience-container .section-title {
    margin-bottom: 2rem;
  }
  .experience .experience-container .experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }
  .experience .experience-container .experience-content .item-1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .experience .experience-container .experience-content .item-2 {
    grid-column-start: 3;
  }
  .experience .experience-container .experience-content .item-3 {
    grid-column-start: 2;
  }
}
@media screen and (min-width: 980px) {
  .experience .experience-container .experience-content .main-img {
    width: 450px;
  }
}
#contact {
  max-width: 1000px;
  padding: 3rem 2rem;
}
#contact .contact-container {
  margin-top: 1rem;
}
#contact .contact-container .contact-element {
  display: flex;
  justify-content: none;
  align-items: center;
  margin-top: 1.5rem;
}
#contact .contact-container .contact-element .icon-container {
  padding: 1.1rem;
  margin-right: 1rem;
}
#contact .contact-container .contact-element .icon-container:hover img, #contact .contact-container .contact-element .icon-container:active img {
  transform: scale(1.1);
}
#contact .contact-container .contact-element .icon-container img {
  transition: 150ms;
  width: 40px;
}
#contact .contact-container .contact-element h4 {
  color: var(--textColor);
  font-weight: 700;
  margin: 0;
}
#contact .contact-container .contact-element a {
  color: inherit;
  transition: 150ms;
}
#contact .contact-container .contact-element a:hover, #contact .contact-container .contact-element a:active {
  color: #008f7a;
}

@media screen and (min-width: 570px) {
  #contact {
    margin: 0 auto;
  }
  #contact .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }
  #contact .contact-container .contact-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: transform 1s, opacity 1s, filter 1s;
  }
  #contact .contact-container .contact-hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: transform 1s, opacity 1s, filter 1s;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer);
  color: #fff;
  min-height: 125px;
  font-size: 1.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.app {
  background-color: var(--secBackground);
  color: var(--textColor);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h4 {
  color: #008f7a;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.icon-container {
  background-color: var(--mainBackground);
  line-height: 0.75rem;
  padding: clamp(0.65rem, 4vw, 0.8rem);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 150ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.section-title {
  color: #008f7a;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 1.3rem);
}/*# sourceMappingURL=style.css.map */