#contact {
    max-width: $containerWidth;
    padding: 3rem 2rem;

    .contact-container {
        margin-top: 1rem;

        .contact-element {
            @include flex(none, center);
            margin-top: 1.5rem;

            .icon-container {
                padding: 1.1rem;
                margin-right: 1rem;

                &:hover,
                &:active {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    transition: 150ms;
                    width: 40px;
                }
            }

            h4 {
                color: var(--textColor);
                font-weight: 700;
                margin: 0;
            }

            a {
                color: inherit;
                transition: 150ms;
                &:hover,
                &:active {
                    color: $mainColor;
                }
            }
        }
    }
}

@media screen and (min-width: 570px) {
    #contact {
        margin: 0 auto;

        .contact-container {
            @include flex(space-between, center);
            margin-top: 4rem;

            .contact-show {
                opacity: 1;
                filter: blur(0);
                transform: translateX(0);
                transition: transform 1s, opacity 1s, filter 1s;
            }

            .contact-hide {
                opacity: 0;
                filter: blur(5px);
                transform: translateX(100%);
                transition: transform 1s, opacity 1s, filter 1s;
            }
        }
    }
}
