@mixin flex($content, $aligin) {
    display: flex;
    justify-content: $content;
    align-items: $aligin;
}

@mixin animationShow($transition, $transform) {
    opacity: 1;
    filter: blur(0);
    transform: $transform;
    transition: $transition;
}

@mixin animationHide($transition, $transform) {
    opacity: 0;
    filter: blur(5px);
    transform: $transform;
    transition: $transition;
}

$mainColor: #008f7a;

$sectionPadding: 12rem 2rem;
$sectionPaddingMobile: 6rem 2rem;
$containerWidth: 1000px;

$fontSizeH2: clamp(1.2rem, 2vw, 1.3rem);

// default light mode if user has it on default
:root,
:root.light {
    --mainBackground: #fff;
    --secBackground: #f9f9f9;
    --textColor: #212427;
    --textLightColor: #767676;
    --projectText: rgba(0, 0, 0, 0.2);
    --aboutYear: rgba(0, 0, 0, 0.75);
    --aboutItem: #fff;
    --footer: #2c2c2c;
}

.dark {
    --mainBackground: #161b22;
    --secBackground: #1d232c;
    --textColor: #ffffff;
    --textLightColor: rgba(255, 255, 255, 0.75);
    --projectText: rgba(255, 255, 255, 0.2);
    --aboutYear: rgba(255, 255, 255, 0.5);
    --aboutItem: #24292f;
    --footer: #161b22;
}

// if user has default dark
@media (prefers-color-scheme: dark) {
    :root {
        --mainBackground: #161b22;
        --secBackground: #1d232c;
        --textColor: #ffffff;
        --textLightColor: rgba(255, 255, 255, 0.75);
        --projectText: rgba(255, 255, 255, 0.2);
        --aboutYear: rgba(255, 255, 255, 0.5);
        --aboutItem: #24292f;
        --footer: #161b22;
    }
}
